<h3>Bell Foret</h3>


料理は愛から始まる芸術です。<br>
人を愛し、食材を愛すること。<br>
愛情は料理に現れます。<br>
私たちシェフが料理をするとき、まず想うこと。<br>
それは出来上がった料理をお客様が心より美味しそうに嬉しそうに召し上がってくださる姿です。<br>
絵画や映画など人の心を動かす全ての芸術がそうであるように、料理もまた、創造するプロセスに厳しさを伴うもの。<br>
時には、不安という壁に閉ざされて、身動きできなくなることもあります。<br>
しかし、お客様のその喜びで輝くような笑顔によって支えられ、料理がもたらす愛のメッセージによって励まされ、<br>
私たちは常に前に進むことができるのです。<br>
今日も私たちのつくる一皿が、皆様に幸せなひとときを贈ることを願って。<br>
ボナペティ！


La cuisine est un acte d’Amour, parce que nous l'expérimentons d'abord à l'approbation de ceux susceptibles de la découvrir.<br>
C'est pour ça, que la musique comme la peinture,<br>
comme tout ce qui est beau, est un Art exigeant qui suppose de notre côté,<br>
une régularité, une inquiétude qui n'est réconforté que par le massage d'Amour qu'elle apporte.<br>
Si la musique nous transporte dans un message d'Amour, si la peinture, nous réunit dans une admiration universelle, il faut que la cuisine entraîne chez nous une attitude semblable.<br>
Bon appétit!