<h3>TOPICSS</h3>


<h3>新型コロナウイルス等の感染予防対策について</h3>

いつも BelleForet をご利用いただき、誠にありがとうございます。<br>

BelleForet では、お客様ならびにスタッフの健康と安全確保を考慮し、新型コロナウイルス等の感染予防のため、以下対策を実施しております。<br>

また、新型コロナウイルス等の感染予防、及び拡散防止のため、短縮時間での営業とさせていただきます。


<h3>新型コロナウイルス感染予防のための対策</h3>

⦿厚生労働省の対応指針（ガイドライン）に基づき、スタッフの手洗い、うがい、アルコール消毒を徹底しております。
　　※アルコール消毒は、CDC（米国疾病予防管理センター）が推奨する基準を満たすアルコール製剤「JAMES MARTIN」を使用しています。<br>

⦿店内にお客様用の手指消毒液を設置しております。<br>

⦿レストランではご来店のお客様には検温にご協力をいただいております。<br>

⦿スタッフは出勤時の体温測定を実施し、発熱や体調不良がうかがえるスタッフの出勤停止を行っております。<br>

⦿スタッフの発熱など症状が確認できる場合は自宅待機のうえ、行政に相談し指示を受けるよう周知徹底しております。<br>


今後も、上記対策による感染拡大の予防策を徹底するとともに、常に状況に応じた適切な対応を行い、お客様ならびにスタッフ、またそのご家族の安心と安全を最優先した対応に努めてまいります。<br>

お客様にはご不便をおかけいたしますが、何卒ご理解のほどよろしくお願い申し上げます。