Belle Foret Wedding


<h3>誰もが憧れる　美食の殿堂でウエディング</h3>

ここは、世界中の人々が一度は訪れてみたいと憧れる美食の殿堂。<br>
高貴さとカジュアルモダン、その両方を同時に漂わせるラベンダーカラーの1階、<br>
シャンパンゴールドとブラックの調和が華やかな気品を醸し出す２階ガストロノミー、<br>
異なるダイニングルームでウエディングパーティを叶えることができる。<br>
また、最上階にはクラシカルな雰囲気が漂う3つの部屋があり、ブライズルーム・親族控室・挙式スペースが完備されているのも魅力。<br>
まるで、フランス貴族の館を思わせる気品あるインテリアや設えで、大切なゲストの皆様と、華やかで優雅な一日をお過ごしください。


<h3>世紀のシェフがプロデュースする フレンチ料理&スイーツで結婚式</h3>

世紀のシェフがプロデュースするフレンチ料理&スイーツで結婚式<br>
優れた料理人は、その人生の中で完結されたお皿を生み出す。<br>
だが誰しもが、作品とも呼べる料理を数多く持てる訳ではない。<br>
その奇跡に出会える場所で大切な一日を。


<h3>PHOTO GALLERY</h3>
<h4>フォトギャラリー</h4>


詳細・お問い合わせ<br>
お二人の理想のウェディングをサポートします。 まずはお問い合わせください。


<h3>ご予約は会員登録が必要になります。</h3>